<% unless hidden %>

<div class="flex flex-col gap-4 justify-center items-center pt-10">
  <%= form_with(url: update_page_path(lang: page.language.name, id: page.id), id: "submit") do |form| %>
    <%= form.hidden_field :reset, value: "1" %>
    <div class="flex border rounded-lg">
      <%= form.text_field :url, class: "w-[300px] rounded-s-lg border-none focus:ring-0 focus:outline-none", placeholder: "Reference URL" %>
      <%= form.button type: :submit, class: "rounded-e-lg bg-[#117469] border-[0.5px] border-sltate-300 px-5 py-2 inline-flex gap-2 hover:opacity-80 text-white" do %>
        <span class="flex items-center gap-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M4 20v-2.52L17.18 4.288q.155-.137.34-.212T17.907 4t.39.064q.19.063.35.228l1.067 1.074q.165.159.226.35q.06.19.06.38q0 .204-.068.39q-.069.185-.218.339L6.519 20zM17.504 7.589L19 6.111L17.889 5l-1.477 1.496z"/></svg>
          Correct
        </span>
      <% end %>
    </div>
  <% end %>
</div>

<div class="py-[40px] grid gap-4 grid-cols-2">
  <% page.sources.each do |source| %>
    <% if source.id != page.id %>
      <%= render partial: "pages/relation", locals: { page: source } %>
    <% end %>
  <% end %>
  <% page.destinations.each do |destination| %>
    <% if destination.id != page.id %>
      <%= render partial: "pages/relation", locals: { page: destination } %>
    <% end %>
  <% end %>
</div>

<% end %>
