<% unless hidden %>

<div class="mt-10 text-center font-bold">Is this page incorrect?</div>
<div class="flex flex-col gap-4 justify-center items-center mt-5">
  <%= form_with(url: update_page_path(lang: page.language.name, id: page.id), id: "submit") do |form| %>
    <%= form.hidden_field :reset, value: "1" %>
    <div class="flex border rounded-lg">
      <%= form.text_field :url, class: "w-[300px] rounded-s-lg border-none focus:ring-0 focus:outline-none", placeholder: "Reference URL" %>
      <%= form.button type: :submit, class: "rounded-e-lg bg-[#117469] border-[0.5px] border-sltate-300 px-5 py-2 inline-flex gap-2 hover:opacity-80 text-white" do %>
        <span class="flex items-center gap-1">
          Correct
        </span>
      <% end %>
    </div>
  <% end %>
</div>

<div class="py-[40px] grid gap-4 grid-cols-2">
  <% page.sources.each do |source| %>
    <% if source.id != page.id %>
      <%= render partial: "pages/relation", locals: { page: source } %>
    <% end %>
  <% end %>
  <% page.destinations.each do |destination| %>
    <% if destination.id != page.id %>
      <%= render partial: "pages/relation", locals: { page: destination } %>
    <% end %>
  <% end %>
</div>

<% end %>
