<% if display != false %>

<div class="flex flex-col gap-4 justify-center items-center pt-10">
  <%= form_with(url: update_page_path(lang: page.language.name, id: page.id), id: "submit", data: { controller: "pdf-upload" }) do |form| %>
    <div class="flex items-center justify-center w-full mb-3">
      <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-32 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
          <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
          </svg>
          <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
          <p class="text-xs text-gray-500 dark:text-gray-400">PDF</p>
        </div>
        <%= form.file_field :pdf, id:"dropzone-file", class: "hidden", accept:".pdf", data: { action: "pdf-upload#enable" } %>
      </label>
    </div>
    <%= form.hidden_field :reset, value: "1" %>
    <%= form.button type: :submit, data: { pdf_upload_target: "button" }, disable: true, class: "opacity-40 bg-[#117469] text-white rounded items-center border px-5 py-2 inline-flex gap-2 hover:opacity-80" do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256"><path fill="currentColor" d="M224 152a8 8 0 0 1-8 8h-24v16h16a8 8 0 0 1 0 16h-16v16a8 8 0 0 1-16 0v-56a8 8 0 0 1 8-8h32a8 8 0 0 1 8 8M92 172a28 28 0 0 1-28 28h-8v8a8 8 0 0 1-16 0v-56a8 8 0 0 1 8-8h16a28 28 0 0 1 28 28m-16 0a12 12 0 0 0-12-12h-8v24h8a12 12 0 0 0 12-12m88 8a36 36 0 0 1-36 36h-16a8 8 0 0 1-8-8v-56a8 8 0 0 1 8-8h16a36 36 0 0 1 36 36m-16 0a20 20 0 0 0-20-20h-8v40h8a20 20 0 0 0 20-20M40 112V40a16 16 0 0 1 16-16h96a8 8 0 0 1 5.66 2.34l56 56A8 8 0 0 1 216 88v24a8 8 0 0 1-16 0V96h-48a8 8 0 0 1-8-8V40H56v72a8 8 0 0 1-16 0m120-32h28.69L160 51.31Z"/></svg>
      <span class="">Rebuild with my PDF!</span>
    <% end %>
  <% end %>

  <%= form_with(url: update_page_path(lang: page.language.name, id: page.id), id: "submit") do |form| %>
    <%= form.hidden_field :reset, value: "1" %>
    <%= form.button type: :submit, class: "rounded border px-5 py-2 inline-flex gap-2 hover:bg-slate-50" do %>
      <img class="w-[18px] h-[18px] mt-[3px]" src="/reload.png" />
      <span>Regenerate</span>
    <% end %>
  <% end %>
</div>

<% end %>
