<% unless hidden %>

<div class="text-center text-sm opacity-40 mt-5">The page contents are not always correct. Please verify any important information.</div>

<div class="text-center text-sky-600 mt-5">
  <%= form_with url: "/#{page.language.name}/wiki/#{page.id}" do |form| %>
    <%= form.hidden_field :reset, value: 1 %>
    <%= form.submit "Regenerate", class: "cursor-pointer" %>
  <% end %>
</div>

<div class="py-[40px] grid gap-4 grid-cols-2">
  <% page.sources.each do |source| %>
    <% if source.id != page.id %>
      <%= render partial: "pages/relation", locals: { page: source } %>
    <% end %>
  <% end %>
  <% page.destinations.each do |destination| %>
    <% if destination.id != page.id %>
      <%= render partial: "pages/relation", locals: { page: destination } %>
    <% end %>
  <% end %>
</div>

<% end %>
