<%= turbo_stream_from "#{dom_id(@page)}" %>

<div class="rounded max-w-[800px] border p-8 mx-auto">
  <h1 class="font-bold text-3xl mb-3"><%= @page.title %></h1>
  <div data-controller="page" data-page-id-value="<%= @page.id %>">
    <div id="<%= dom_id(@page) %>_content" class="prose">
      <%= render partial: "pages/content", locals: { page: @page } %>
    </div>
  </div>
  <div id="actionButtons" class="shadow-lg bg-white border rounded-lg absolute" style="display: none;">
    <a id="readButton" class="border-r rounded-s-lg hover:bg-slate-50 py-1 px-3 gap-1 flex items-center">
      <img class="w-[18px] h-[18px] mt-[3px]" src="/read.png" />
      <span>Read<span>
    </a>
    <a id="expandButton" class="rounded-e-lg hover:bg-slate-50 py-1 px-3 gap-1 flex items-center" data-turbo-method="POST" onclick="document.querySelector('#actionButtons').style.display = 'none';">
      <img class="w-[18px] h-[18px] mt-[3px]" src="/expand.png" />
      <span>Expand<span>
    </a>
  </div>
  <div class="flex gap-4 justify-center items-center pt-10">
    <%= form_with(url: update_page_path(@page), id: "submit") do |form| %>
      <%= form.hidden_field :reset, value: "1" %>
      <%= form.button type: :submit, class: "rounded-full border px-5 py-2 inline-flex gap-2 hover:bg-slate-50" do %>
        <img class="w-[18px] h-[18px] mt-[3px]" src="/reload.png" />
        <span>Regenerate</span>
      <% end %>
    <% end %>

    <%= link_to "Delete", destroy_page_path(@page), data: { turbo_method: "delete", turbo_confirm: "Are you sure you want to delete?" }, class: "rounded-full border px-5 py-2 inline-flex gap-2 hover:bg-slate-50" %>
    </div>
</div>
