<%= turbo_stream_from "#{dom_id(@page)}" %>

<div class="max-w-[800px] mx-auto">
  <h1 class="font-bold text-3xl mb-3"><%= @page.title %></h1>
  <div data-controller="page" data-page-lang-value="<%= @page.language.name %>" data-page-id-value="<%= @page.id %>" data-page-title-value="<%= @page.title %>">
    <div id="<%= dom_id(@page) %>_content" class="prose">
      <%= render partial: "pages/content", locals: { page: @page } %>
    </div>
  </div>
  <div id="actionButtons" class="shadow-lg bg-white border rounded-lg absolute flex" style="visibility: hidden;">
    <a id="digButton" class="border-r rounded-s-lg hover:bg-slate-50 py-1 px-3 gap-1 flex items-center">
      <img class="w-[18px] h-[18px]" src="/dig.png" />
      <span>Dig</span>
    </a>
    <a id="jumpButton" class="border-r rounded-s-lg hover:bg-slate-50 py-1 px-3 gap-1 flex items-center">
      <img class="w-[18px] h-[18px]" src="/jump.png" />
      <span>Jump</span>
    </a>
  </div>
  <%= turbo_stream_from "footer-buttons" %>
  <div id="footer-buttons-<%= @page.id %>">
    <%= render partial: "pages/footer_buttons", locals: { page: @page, display: @page.html || false } %>
  </div>
</div>
