<div class="max-w-[800px] mx-auto">
  <div class="mb-10">
<h2 class="text-3xl mb-2 text-center font-bold"><%= I18n.t("views.top.main").html_safe %></h2>
<div class="text-center mt-10">
  <div class="flex justify-center space-x-2 mb-4">
    <% @pages_hash.length.to_s.rjust(6, '0').each_char do |digit| %>
      <div class="bg-gray-800 text-white text-4xl sm:text-5xl md:text-6xl font-bold p-2 rounded">
          <%= digit %>
      </div>
    <% end %>
  </div>
  <p class="mt-2 text-gray-600">Total pages and counting!</p>
</div>
<form
  method="POST"
  action="/<%= params[:lang] %>/search"
  data-controller="search"
  data-search-list-value="<%= @pages_hash.to_json %>"
  data-search-name-value="main-search"
  data-search-placeholder-value="<%= I18n.t("views.search.placeholder") %>"
  class="flex justify-center text-lg py-[40px]"
>
  <div class="relative">
    <input type="hidden" name="lang" value="<%= params[:lang] %>">
    <%= render partial: "icons/stars" %>
    <input name="q" id="main-search">
  </div>
</form>
<div class="flex justify-center">
  <ol class="list-inside list-decimal font-bold">
    <li><%= I18n.t("views.top.howtouse.one") %></li>
    <li><%= I18n.t("views.top.howtouse.two") %></li>
    <li><%= I18n.t("views.top.howtouse.three") %></li>
    <li><%= I18n.t("views.top.howtouse.four") %></li>
  </ol>
</div>

<div class="flex justify-center mt-10">
<iframe class="border rounded-lg border-[#333]" width="560" height="315" src="https://www.youtube.com/embed/3xoTppHgRGc?si=Yr0Pl_y0HA7-V-lE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
