<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.production? %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2S2MLRLW6Z"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-2S2MLRLW6Z');
    </script>
    <% end %>
    <title><%= @page ? "#{@page.title} - Dynawiki" : "Dynawiki" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel=”icon” href=“/favicon.ico”>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->
  </head>

  <body class='font-mono'>
    <header class="z-10 bg-white top-0 w-full py-1 border-b px-3 flex justify-between items-center">
    <div class="w-full max-w-[800px] mx-auto flex justify-between">
      <div class="flex justify-between items-center gap-2 w-full">
        <a href="/<%= params[:lang] %>" class="flex items-center gap-1 mb-[1px] sm:mb-0">
          <span class="font-bold">Dynawiki</span>
        </a>
      </div>
      <%= render partial: "pages/search", locals: { autofocus: false, value: params[:title] } %>
    </div>
    </header>
    <main class="p-3">
      <%= yield %>
    </main>
    <% if request.path_info.exclude?("wiki") && request.path_info.exclude?("legal") %>
    <footer class="p-4 prose text-sm flex justify-center flex-col mx-auto text-center">
      <div class="flex gap-1 flex-wrap justify-center">
        <div><a href="/en">English</a></div>
        <div>/</div>
        <div><a href="/ja">Japanese</a></div>
        <div>/</div>
        <div><a href="/<%= params[:lang] %>/legal">Legal</a></div>
      </div>
      <div class="text-xs opacity-60 mt-3">
      &copy; 2024 Moeki Kawakami</div>
    </footer>
    <% end %>
  </body>
</html>
