<!DOCTYPE html>
<html>
  <head>
    <title>DynamicWiki</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body>
    <header class="py-3 px-5 flex justify-between border-b items-center">
      <div class="flex items-center gap-2">
      <div class="font-bold text-xl">
        <a href="/">Dynawiki</a>
      </div>

      <div>
        <a href="https://github.com/kawakamimoeki/dynawiki">GitHub</a>
      </div>
      </div>

      <form method="POST" action="/search">
        <input type="search" name="q" placeholder="Search" class="border rounded py-1 px-2" />
      </form>

      <div class="flex gap-1">
        <%= turbo_stream_from "now" %>
      Latest:
      <div id="now">
        <%= render partial: "pages/now", locals: { page: Page.order(updated_at: :desc).first } %>
      </div>
      </div>
      </div>
    </header>
    <main class="p-5">
      <%= yield %>
    </main>
  </body>
</html>
