<!DOCTYPE html>
<html>
  <head>
    <title><%= @page ? "#{@page.title} - Dynawiki" : "Dynawiki" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel=”icon” href=“/favicon.ico”>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:url" content="<%= request.url %>" />
    <meta property="og:type" content="Website" />
    <meta property="og:title" content="<%= @page ? "#{@page.title} - Dynawiki" : "Dynawiki" %>" />
    <meta property="og:description" content="Enjoy infinite pages Wiki!" />
    <meta property="og:site_name" content="Dynawiki" />
    <meta property="og:image" content="https://dynawiki.org/ogp.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->
  </head>

  <body class='bg-white'>
    <header class="py-3 px-5 flex justify-between items-center min-h-[54px]">
      <div class="flex items-center gap-2 w-full">
        <a href="/<%= params[:lang] %>">
          <img src="/icon.png" width="24" height="24" />
        </a>
        <% if request.path_info.exclude?("wiki") %>
          <div class="font-bold">
            <a href="/<%= params[:lang] %>">Dynawiki</a>
          </div>
        <% end %>
        <% if request.path_info.include?("wiki") %>
          <div class="grow"></div>
          <form
            method="POST"
            action="/<%= params[:lang] %>/search"
            data-controller="search"
            data-search-list-value="<%= @pages_json %>"
            data-search-name-value="main-search"
            class="flex justify-center"
          >
            <div class="relative">
              <input type="hidden" name="lang" value="<%= params[:lang] %>">
              <%= render partial: "icons/stars" %>
              <input name="q" id="main-search">
            </div>
          </form>
        <% end %>
      </div>
    </header>
    <main class="p-5">
      <%= yield %>
    </main>
    <% if request.path_info.exclude?("wiki") %>
    <footer class="p-4">
      <div class="flex justify-center gap-4">
        <div><a href="/<%= params[:lang] %>/legal">Legal</a></div>
        <div>
        &copy; 2024 Moeki Kawakami
      </div>
    </footer>
    <% end %>
  </body>
</html>
