<!DOCTYPE html>
<html>
  <head>
    <title><%= @page ? "#{@page.title} - Dynawiki" : "Dynawiki" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel=”icon” href=“/favicon.ico”>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->
  </head>

  <body class='font-sans'>
    <header class="fixed bg-white top-0  w-full py-1 border-b px-2 flex justify-between items-center">
      <div class="flex justify-between items-center gap-2 w-full">
        <a href="/<%= params[:lang] %>" class="flex items-center gap-1 mb-[1px] sm:mb-0">
          <span>Dynawiki</span>
        </a>
      </div>
      <%= render partial: "pages/search", locals: { autofocus: false, value: params[:title] } %>
    </header>
    <main class="py-3 px-5 mt-16">
      <%= yield %>
    </main>
    <% if request.path_info.exclude?("wiki") && request.path_info.exclude?("legal") %>
    <footer class="p-4 fixed bottom-0 w-full">
      <div class="flex justify-center gap-1 flex-wrap">
        <div><a href="/en">English</a></div>
        <div>・</div>
        <div><a href="/ja">Japanese</a></div>
        <div>・</div>
        <div><a href="/<%= params[:lang] %>/legal">Legal</a></div>
      </div>
      <div class="text-sm opacity-60 text-center mt-3">
      &copy; 2024 Moeki Kawakami</div>
    </footer>
    <% end %>
  </body>
</html>
